{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Угадай звук</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon.png">
    <link rel="stylesheet" href="{% static '/play_style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo-container">
                <img src="/static/logo1.png" alt="Логотип" class="logo">
                <h2>Угадай звук</h2>
            </div>
            <form action="{% url 'logout' %}" method="post"style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-link">Выйти</button>
            </form>
        </div>
    </header>

  <div class="game-container">
  {% if error %}
    <p>{{ error }}</p>
  {% else %}
    <audio id="sound" src="{{ sound.sound.url }}" preload="auto"></audio>
    <div class="controls">
        <button type="button" class="sound-button" onclick="document.getElementById('sound').play()">
            Слушать звук
        </button>
    </div>

    <div class="image-grid">
      {% for item in choices %}
        <div class="image-choice" onclick="checkAnswer('{{ item.name }}', '{{ sound.name }}')">
          <img src="{{ item.image.url }}" alt="{{ item.name }}" class="animal-image">
          <p class="animal-name">{{ item.name }}</p>
        </div>
      {% endfor %}
    </div>

    <script>
      function checkAnswer(selected, correct) {
        if (selected === correct) {
          alert('Правильно! Это ' + correct);
          location.reload();
        } else {
          alert('Неправильно! Попробуй ещё раз.');
        }
      }
    </script>
  {% endif %}
  </div>

    <footer class="footer">
        <p>&copy; 2025 Угадай звук — Образовательная игра для изучения звуков животных.</p>
      </footer>
</body>
</html>